@font-face {
  font-family: 'OpenSansreg';
  src: url('../fonts/OpenSans.eot');
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans.woff2') format('woff2'), url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf') format('truetype'), url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansbold';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'OpenSansreg';
}
.main {
  width: 100%;
  background-color: #FFFFFF;
}
.main-top {
  text-align: center;
  padding-bottom: 30px;
}
.main-logo {
  font-family: 'OpenSansbold';
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
}
.main-logo p {
  font-size: 24px;
  margin-top: 33px;
}
.main-logo img {
  height: 24px;
}
.main-contact ul {
  margin-top: 35px;
}
.main-contact li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 15px;
}
.main-contact li a {
  text-decoration: none;
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 700;
}
.main-contact-tel {
  padding-right: 30px;
}
.main-contact-tel a {
  display: block;
  font-size: 23px;
  font-weight: 900;
  color: #1C1C1C;
  font-family: 'OpenSansbold';
}
.main-contact-tel a:hover {
  text-decoration: none;
}
.main-contact button {
  width: 175px;
  height: 40px;
  font-size: 16px;
  border: none;
}
.main-section {
  margin: 0 auto;
  height: 900px;
  background-image: url(../img/parallax1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-section2 h1 {
  font-family: 'OpenSansbold';
  text-align: center;
  color: #00B0D1;
  text-transform: uppercase;
  margin: 50px 0 50px 0;
}
.main-section2 p {
  font-size: 14px;
  color: #808080;
}
.main-section2 img {
  float: left;
  margin: 0 40px 50px 0px;
}
.main-section3 {
  text-align: center;
}
.main-section3 h3 {
  font-family: 'OpenSansbold';
  color: #00B0D1;
  text-transform: uppercase;
  font-size: 36px;
  text-align: center;
  margin: 80px 0 30px 0;
}
.main-section3 .services-block {
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  margin: 30px 20px 20px 0;
}
.main-section3 .services-block img {
  width: 100%;
}
.main-section3 .services-block p {
  margin-top: 20px;
  font-family: 'OpenSansbold';
  font-size: 18px;
}
.main-section3 .services-block button {
  text-transform: uppercase;
  margin: 10px 0 30px 0;
  width: 80%;
  height: 40px;
  font-size: 16px;
  border: none;
}
.main-section3 .btnservices {
  text-transform: uppercase;
  font-family: 'OpenSansbold';
  font-size: 24px;
  padding: 15px 60px;
  border-radius: 20px;
  background: #FFEB01;
  margin: 40px 0 40px 0;
  border: none;
  outline: none;
}
.main-form {
  background-color: ;
  text-align: center;
}
.main-form select {
  width: 100%;
  background: rgba(175, 191, 0, 0.9);
  border: 2px solid #333333;
  padding: 10px;
}
.main-form-input {
  display: block;
  margin: 20px 0;
  width: 100%;
  border: 2px solid black;
  background: rgba(175, 191, 0, 0.9);
  padding: 10px;
  color: black;
}
.main-section4 {
  background: #05BCD9;
  padding: 80px 0 80px 0;
}
.main-section4 img {
  margin-top: 10%;
}
.main-section4 h2 {
  font-family: 'OpenSansbold';
  font-size: 28;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main-section4 p {
  color: #FFFFFF;
  font-size: 16px;
}
.main-section4 .formqa input {
  margin-bottom: 10px;
  font-size: 18px;
  padding: 3px 8px;
  text-align: center;
  color: #08D1E6;
}
.main-section4 .formqa button {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'OpenSansbold';
  padding: 10px 49px;
  margin-top: 20px;
  background: #FFEF01;
}
.main-section5 h3 {
  font-family: 'OpenSansbold';
  color: #00B0D1;
  text-transform: uppercase;
  font-size: 36px;
  text-align: center;
  margin: 80px 0 80px 0;
}
.main-section5 .client-block {
  margin-bottom: 30px;
  border: 1px solid #D7D7D7;
}
.main-section5 .client-block img {
  background-size: auto;
}
.main-section6 {
  background: #FCFCFC;
}
.main-section6 h3 {
  margin: 0px 0 80px 0;
  font-size: 36px;
  font-family: 'OpenSansbold';
  text-transform: uppercase;
  text-align: center;
}
.main-section6 .reviews {
  -webkit-box-shadow: 1px 1px 10px black;
          box-shadow: 1px 1px 10px black;
  padding: 30px;
  margin: 0 20px 20px 0;
  height: 300px;
  overflow: auto;
}
.main-section6 .reviews a {
  font-size: 16px;
  display: block;
  outline: none;
  text-decoration: none;
  margin-bottom: 15px;
}
.main-section6 .reviews p {
  font-size: 14px;
  font-family: 'OpenSansbold';
}
.footer {
  background: #425059;
  padding: 50px;
}
.footer .f-addres {
  font-size: 16px;
  color: #FFFFFF;
}
.footer .f-email {
  font-size: 16px;
  color: #FFFFFF;
}
.footer .tel {
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF;
}
.footer-logo p {
  font-size: 28px;
  font-family: 'OpenSansbold';
  color: #FFFFFF;
}
.footer .btnblue {
  tdisplay: block;
  text-transform: uppercase;
  font-size: 13.5px;
  color: #FFFFFF;
  background: #04B4D4;
  padding: 5px 19px 5px 8.9px;
  outline: none;
  margin: 10px 0 10px 0;
}
.footer .btnyellow {
  display: block;
  text-transform: uppercase;
  font-size: 13.5px;
  color: #000000;
  background: #FFF102;
  padding: 5px 8.7px 5px 8.9px;
  outline: none;
}
.footer ul li {
  color: #E8E9EB;
  list-style-type: none;
  line-height: 1.8;
}
.footer ul li strong {
  font-size: 18px;
}
.services-left {
  background: #FFF904;
  height: 1700px;
}
.services-left ul {
  margin-left: 40%;
  padding-bottom: %;
}
.services-left ul li {
  line-height: 4.3;
  font-family: 'OpenSansbold';
}
.services-left h1 {
  font-family: 'OpenSansbold';
  color: #10C0DC;
  margin-left: 42.5%;
  padding: 0 0 20px 0;
}
.services-right p {
  font-size: 16px;
}
.services-right h4 {
  text-align: center;
  font-family: 'OpenSansbold';
  padding: 10px 0 10px 0;
}
.services-right img {
  float: left;
  margin: 10px 20px 10px 0;
}
.services-right h3 {
  text-align: center;
}
.services-right .tableservice h3 {
  font-weight: 900;
  margin: 30px 0 30px 0;
}
.services-right .tableservice h4 {
  font-size: 22px;
  margin: 40px 0 40px 0;
}
.services-right .tableservice ul li {
  font-size: 16px;
  line-height: 1.5;
}
.services-right table {
  border-spacing: 3px 5px;
}
.services-right table td {
  text-align: center;
  padding: 10px 15px 10px;
}
.services-right button {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  background: #FFEF02;
  padding: 5px 20px 5px 20px;
  outline: none;
  margin-top: 40px;
  margin-left: 40%;
}
.blue {
  background: #10C0DC;
  color: #FFFFFF;
}
.features {
  background: #FFF301;
  padding: 50px;
}
.features-block {
  text-align: center;
  outline: none;
}
.features p {
  font-size: 16px;
  font-family: 'OpenSansbold';
}
.features-img img {
  margin: 0 auto;
}
.section-header {
  font-family: 'OpenSansbold';
  margin-bottom: 50px;
  text-transform: uppercase;
}
.prev {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  background: url(../img/left-arrow.svg) center no-repeat;
  background-size: 70%;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
}
.arrow {
  position: absolute;
  top: 50%;
  z-index: 99;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
}
.next {
  background: url(../img/right-arrow.svg) center no-repeat;
  background-size: 70%;
  right: 0;
}
.prev2 {
  position: absolute;
  top: 50%;
  left: -8%;
  z-index: 99;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background: url(../img/left-arrow2.svg) center no-repeat;
  background-size: 70%;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
}
.arrow2 {
  position: absolute;
  top: 35%;
  z-index: 99;
  width: 60px;
  height: 80px;
  border: none;
  outline: none;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
}
.next2 {
  background: url(../img/right-arrow2.svg) center no-repeat;
  background-size: 70%;
  right: -8%;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-header {
  font-family: 'OpenSansbold';
  font-size: 32px;
}
.popup-content {
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: 10%;
  background: rgba(175, 191, 0, 0.7);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  padding: 10px;
}
.popup-content p {
  font-family: 'OpenSansbold';
}
.popup-form {
  padding-top: 5px;
}
.popup-form input {
  text-align: center;
  outline: none;
}
.popup-form select {
  outline: none;
}
.popup-clouse {
  position: absolute;
  top: -15px;
  font-size: 30px;
  right: -20px;
  width: 20px;
  border: none;
  background: transparent;
  text-align: center;
  color: #FFFFFF;
  outline: none;
}
.popup .btnf {
  margin-right: 80%;
  width: 175px;
  padding: 6px;
  font-size: 14px;
  border: none;
}
@media (min-width: 1200px) {
  .main-section4 img {
    height: 360px;
  }
  .main-section4 input {
    margin-left: 37%;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 3px 8px;
    text-align: center;
    color: #08D1E6;
  }
  .main-section4 textarea {
    margin-left: 10%;
  }
  .main-section4 button {
    margin-left: 37%;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'OpenSansbold';
    padding: 10px 49px;
    margin-top: 20px;
    background: #FFEF01;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-section4 img {
    height: 400px;
    width: 390px;
  }
  .services-left {
    height: 2500px;
  }
  .services-left ul li {
    line-height: 3;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-section4 img {
    height: 250px;
  }
  .main-section4 textarea {
    margin-left: 30%;
  }
  .main-section4 h2 {
    text-align: center;
  }
  .main-section4 p {
    text-align: center;
  }
  .services-left {
    height: 500px;
  }
  .services-left ul {
    margin: ;
  }
  .services-left ul li {
    line-height: 1.5;
  }
  .services-right h2 {
    font-size: 24px;
  }
  .services-right button {
    display: block;
    margin: 40px 0 auto;
    margin-bottom: 20px;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .main-section4 img {
    height: 120px;
    margin-left: 45px;
  }
  .main-section4 h2 {
    margin-left: %;
    font-size: 12px;
    text-align: center;
  }
  .main-section4 p {
    margin-left: %;
    font-size: 12px;
    text-align: center;
  }
  .main-section4 input {
    margin: 0 auto;
    display: block;
  }
  .main-section4 button {
    display: block;
    margin: 0 auto;
  }
  .main-section4 textarea {
    display: block;
    margin: 20px auto 0;
  }
  .footer .fcon {
    text-align: center;
  }
  .footer .fcon .tel {
    font-size: 18px;
    font-weight: 900;
  }
  .footer .fcon .btnyellow {
    margin: 0 auto 50px;
  }
  .footer ul li {
    font-size: 6px;
  }
  .footer .footer-logo p {
    font-size: ;
  }
  .services-left {
    height: 600px;
  }
  .services-left h1 {
    margin: 0 0 0 20%;
  }
  .services-left ul {
    margin: 0;
  }
  .services-left ul li {
    line-height: 1.5;
  }
  .services-right h2 {
    font-weight: 900;
    text-align: center;
    font-size: 20px;
  }
  .services-right img {
    width: 100%;
  }
  .services-right p {
    text-align: center;
    font-size: 18px;
  }
  .services-right button {
    display: block;
    margin: 20px  auto;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .footer ul li {
    font-size: 12px;
  }
  .footer .fcon .tel {
    font-size: 24px;
  }
}
@media (min-width: 300px) and (max-width: 411px) {
  .footer ul {
    display: none;
  }
}
@media (max-width: 420px) {
  .main-contact-tel {
    padding-left: 30px;
  }
  .main-section {
    height: 400px;
  }
  .arrow2 {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 370px) {
  .section-header {
    font-size: 20px;
  }
  .popup-content {
    width: 300px;
  }
  .popup-header {
    font-size: 26px;
  }
}
